$primary-color:#aaff00;
$secondary-color:#022C43;
.projects--page{
    .text-zone{
        text-align: center;
        position:absolute;
        left:5%;
        top:50%;
        transform:translateY(-50%);
        width:35%;
        vertical-align:middle;
        display:table-cell;
        max-height:90%;
    }
    h1{
        font-size:73px;
        font-family:'Coolvetica';
        color:$primary-color;
        font-weight:400;
        margin-top:0;
        position:relative;
        left:10px;
        margin-bottom: 20px;
        &::before{
            content:'<h1>';
            font-family: "La Belle Aurore";
            font-size:23px;
            line-height:18px;
            position:absolute;
            top:50%;
            left:0px ;
            opacity:0.6;
        }
        &::after{
            content: "</h1>";
            font-family: "La Belle Aurore";
            font-size:23px;
            line-height:18px;
            position:absolute;
            top:50%;
            margin-left:20px;
            opacity:0.6;
        }
    }
    .text-animate-hover{
        &:hover{
            color:white;
        }
    }

    .language-switch{
        // background-color: blue;
        display:flex;
        justify-content: center;
        align-items: center;
        margin-bottom:10px;
        button{
            color:white;
            background-color: transparent;
            padding:20px 10px;
            width:200px;;
            font-weight:bold;
            font-family:"VT323";
            letter-spacing: 4px;
            font-size:23px;
            cursor:pointer;
            border:2px solid $primary-color;
            &:first-child{
                border-radius:10px 0 0 10px;
            }
            &:last-child{
                border-radius:0 10px 10px 0;
            }
            &:hover{
                background-color: $primary-color;
                color:black;
            }
            &.isActive{
                background-color: $primary-color;
                color:black;
            }
            &:active{
                opacity: 0.8;
            }
        }
    }
    .projects__list{
        overflow-y: auto;
        border-radius:20px;
        padding:20px;
        display:flex;
        flex-direction: column;
        gap:20px;
        height:50vh;
    }
    .projects__list__item{
        background-color: $primary-color;
        min-height:20%;
        border-radius:5px 10px 10px 5px;
        border:2px solid $primary-color;
        overflow: hidden;
        display: flex;
        align-items: center;
        gap:25px;
        cursor:pointer;
        img{
            width:20%;
            height:100%;
            object-fit: cover;
        }
        &:hover,
        &:focus{
            background-color: $secondary-color;
            color:$primary-color;
        }
        &:active{
            opacity: 0.7;
        }
        &.isActive{
            background-color: $secondary-color;
            color:$primary-color;
        }
    }

    .project__preview{
        background-color: #181818;
        width: 30vw;
        height:90%;
        position: absolute;
        right:200px;
        top:50%;
        transform: translateY(-50%);
        border-radius:20px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        border:3px solid black;
        box-shadow: 0px 5px 20px 3px white;
        transition: box-shadow 0.2s;
        &:hover{
            box-shadow: 10px 8px 20px 3px $primary-color;
        }
        img{
            height:50%;
            object-fit: cover;
            display: block;
        }
        main{
            color: white;
            height:50%;
            padding:11px 30px;
            position:relative;
            .title{
                font-size:30px;
            }
            p{
                font-size:1.2vw;
                margin-bottom: 6px;
            }
            h3{
                font-size:2vw;
            }
            ul{
                margin-left:20px;
                li{
                    font-size:1.4vw;
                    &::marker{
                        content:"> ";
                    }
                }
            
            
            }
            .checkOut{
                text-decoration: none;
                right:5%;
                bottom:8%;
                position: absolute;
                padding:10px 20px;
                font-size:2vw;
                border-radius:5px;
                font-family: "VT323", sans-serif;
                letter-spacing: 3px;
                font-weight:bold;
                border:2px solid $secondary-color;
                cursor:pointer;
                background-color: $primary-color;
                color:$secondary-color;
                &:hover{
                    background-color: $secondary-color;
                    color:$primary-color;
                }
                &:active{
                    opacity:0.8;
                }
            }
        }
        
    }
}

